
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

name: build-test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.20.x
    - run: go env
    - name: go build
      run: go build -v ./...
    - name: go test
      run: go test -v ./...
    - name: build catalog-cd
      run: go build -o catalog-cd -v ./cmd/catalog-cd
    - name: Upload catalog-cd binary
      uses: actions/upload-artifact@v3
      with:
        name: catalog-cd-bin
        path: catalog-cd
